<!--<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>-->

<ion-content padding>
    <div class="row alert alert-primary">
        <div class="col-sm-12 text-center text-muted">
          Faça orçamentos e pedidos pelo App.
        </div>
      </div>
  <div class="row" style="margin-top:10px;">
    <div class="col-sm-12 text-center">
      <img src="../../assets/imgs/logo.png" alt="Faria Personalizados" width="100%">
    </div>
  </div>
  <div class="row" style="margin-top:10px;">
    <div class="col-sm-12">
      <label for=""><i class="icone-user"></i>Usuario</label>
    </div>
    <div class="col-sm-12" >
      <input type="text" class="form-control" name="usuario">
    </div>
  </div>
  <div class="row" style="margin-top:10px;">
    <div class="col-sm-12">
      <label for=""><i class="icone-lock"></i>Senha</label>
    </div>
    <div class="col-sm-12">
      <input type="password" class="form-control" name="senha">
    </div>
  </div>
  <div class="row" style="margin-top:10px;">
    <div class="col-sm-12">
      <button class="btn btn-block btn-outline-primary" name="entrar">
        Entrar
      </button>
    </div>
  </div>
</ion-content>

<ion-footer>
    <ion-toolbar class="text-muted text-center">
      <label for="" class="text-muted">Faria Personalizados INC</label>
    </ion-toolbar>
  </ion-footer>